include ./_functions.jade

div.background.background2

h1 #{ getTitle() }

section.contact

  h3 Svanimir Steiner
  address Zagreb, Croatia

  a.send(href="http://www.google.com/recaptcha/mailhide/d?k=01Cm6vmr6ngWI_CA8AbZu0wg==&amp;c=g8us3OKJdh-VxtdVJB3_UESvMQeCKY9Ucdc3yg4OCp8=", onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501Cm6vmr6ngWI_CA8AbZu0wg\75\75\46c\75g8us3OKJdh-VxtdVJB3_UESvMQeCKY9Ucdc3yg4OCp8\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;", title="Reveal this e-mail address") Send an Email
